p {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 50%;
	margin-right: 0;
}

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 150px;
  background-color: #585858;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar label {
	font-size: 10px;
}

.sidebar input {
	font-size: 10px;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #585858;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.side_button{
    height:25px;
    width:118px;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 150px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/* p, */
/* label { */
    /* font: 1rem 'Fira Sans', sans-serif; */
/* } */

/* input { */
    /* margin: .4rem; */
/* } */

